*.tmp
*.s
*.ll
*.out
*.swp
*.so
*.a
*.dylib
*.o
*.s

# binaries
tests/hello
tests/basic
tests/dereference
tests/assign
tests/func
tests/cast
tests/array
tests/addrof

tests/hello.c

# evaluation related
eval/data/olden/checkedc
eval/data/olden/origin

# benchmark related files
benchmarks/**/*.cache
benchmarks/**/*.log
benchmarks/**/*.status
