*.tmp
*.s
*.ll
*.out
*.swp
*.so
*.a
*.dylib

# binaries
tests/hello
tests/basic
tests/dereference
tests/assign
tests/func
tests/cast
tests/array

tests/hello.c

data/olden/checkedc
data/olden/origin

# benchmark related files
benchmarks/**/*.cache
benchmarks/**/*.log
benchmarks/**/*.status
benchmarks/**/Makefile
