*.tmp
*.s
*.ll
*.out
*.swp
*.so
*.a
*.dylib
*.o
*.s

*.dSYM

# binaries
tests/hello
tests/basic
tests/dereference
tests/assign
tests/func
tests/cast
tests/array
tests/addrof


# evaluation data
eval/perf_data
eval/mem_data

# benchmark related files
benchmarks/**/*.cache
benchmarks/**/*.log
benchmarks/**/*.status

# others
eval/json_dataset/unused
